@font-face {
    font-family: CourierPrime-Bold;
    src: url('../fonts/CourierPrime-Bold.ttf') format("woff"),
    url('../fonts/CourierPrime-Bold.ttf') format('truetype');
}

@font-face {
    font-family: CourierPrime-BoldItalic;
    src: url('../fonts/CourierPrime-BoldItalic.ttf') format("woff"),
    url('../fonts/CourierPrime-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: CourierPrime-Italic;
    src: url('../fonts/CourierPrime-Italic.ttf') format("woff"),
    url('../fonts/CourierPrime-Italic.ttf') format('truetype');
}